.main-menu .main-menu-content {
    padding-top: 85px;
}

.navigation,
.navigation .navigation-header {
    font-family: 'Prompt', sans-serif !important;
}

body {
    font-family: 'Prompt', sans-serif !important;
}

.dark-layout body,
body.dark-layout {
    background: url('./_assets/images/wall.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.dark-layout body,
body.dark-layout {
    color: #000000;
}

.card-auto-1 {
    background-color: #ecc84a !important;
    box-shadow: unset !important;
}

.form-auto {
    background-color: transparent !important;
    border-color: #3e3e3e !important;
    padding: 15px !important;
}

.form-control:focus,
.form-control:hover {
    border: 1px solid #28c76f !important;
}

.card-auto-1 .card-footer {
    border-top: unset !important;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #ebe9f1 !important
}

a.btn:hover {
    color: #000 !important;
}

p {
    font-size: 16px;
}

.btn-auto {
    background-color: #28c76f !important;
    color: black !important;
}

.btn-auto-2 {
    background-color: black !important;
    color: white !important;
}

.btn-auto .label {
    margin-right: 5px;
}

.btn.btn-icon {
    padding: 9x 15px !important;
    font-size: 22px;
    border-radius: 50%;
}

.btn-check:focus+.btn,
.btn:focus {
    outline: 0;
    box-shadow: unset !important;
    border: 0.5px solid #312a2a;
}

.btn-auto:focus {
    background-color: #28c76f !important;
    box-shadow: 0px 2px 10px 4px #463434 !important;
}

.form-control-lg {
    min-height: 50px !important;
    padding: .5rem 1rem;
    font-size: 14px !important;
    border-radius: .3rem !important;
}

.dark-layout .input-group:focus-within .form-control,
.dark-layout .input-group:focus-within .input-group-text {
    border-color: #28c76f;
}

.dark-layout .input-group:hover .form-control,
.dark-layout .input-group:hover .input-group-text {
    border-color: #28c76f;
}

.dark-layout h1,
.dark-layout h2,
.dark-layout h3,
.dark-layout h4,
.dark-layout h5,
.dark-layout h6 {
    color: #000;
}

.btn-auto-secondary {
    background-color: transparent;
    color: #000 !important;
}

.card-auto-2 {

    background-color: #28c76f !important;
}

small {
    color: #000 !important;
}

.card-auto-2 h2 {

    color: black;
}

.card-auto-2 h1 {

    color: black;
}


.card-auto-2 p {

    color: black;
}

.card-auto-1 p {
    color: black;
}

.block-center {
    margin: auto;
    width: 70%;
    /* border: 3px solid green; */
    padding: 10px;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus {
    background-color: #28c76f !important;
}

.btn-primary {
    background-color: #28c76f !important;
    border-color: #28c76f !important;
}

.main-menu.menu-dark .navigation>li.active>a {
    background: #28c76f !important;
    box-shadow: 0 0 10px 1px #28c76f;
    border-color: #28c76f;
    color: black !important;
    font-weight: 400;
    border-radius: 4px;
}

.main-menu .main-menu-content {
    padding-top: unset;
}

.dark-layout .main-menu-content .navigation-main .active .menu-title,
.dark-layout .main-menu-content .navigation-main .active i,
.dark-layout .main-menu-content .navigation-main .nav-item .menu-content .active .menu-item {
    color: #000;
}

.dark-layout .main-menu-content .navigation-main .nav-item:hover {
    color: #ff9f43;
}

.main-menu .navbar-header {
    background-color: #0a0a0a !important;
}

.main-menu,
.nav {
    background-color: #0000005c !important;
}

.card-auto-3 {
    background: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%) !important;
}

@media (min-width: 992px) {
    .vertical-layout.vertical-menu-modern .main-menu {
        width: 280px;
    }
}

.content-body {
    padding: 10px;
}


.bottombar-mobile .nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.bottombar-mobile .nav-menu .nav-item {
    flex: 1 1;
    list-style-type: none;
    text-align: center;
}

.bottombar-mobile {
    background: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%) !important;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
}

.bottombar-mobile .nav-menu .nav-item .nav-link {
    text-decoration: none;
    padding: .25rem 0;
    opacity: .75;
    color: #fff;
    display: block;
}

.bottombar-mobile .nav-menu .nav-item .nav-link i,
.feather {
    display: block;
    line-height: 1.4;

    /* color: darkorange; */
    font-size: 26px;
}

.bottombar-mobile .nav-menu .nav-item .nav-link span {
    display: block;
    line-height: 1.4;
}


.bottombar-mobile .nav-menu .nav-item.middle-item .nav-link {
    opacity: 1;
    border-radius: 50%;
    position: relative;
    /* color: darkorange; */
    width: 60px;
    height: 60px;
    margin: -1rem auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .15s ease-out;
    animation: pulse 2s infinite;
    padding: 0;
    background: darkorange;
    box-shadow: 0 0 10px 1px #ff9f43;
}

.bottombar-mobile .nav-menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}




.card {
    min-height: 230px !important;
}


.btn-auto-icon {
    background: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%) !important;
    font-size: 20px !important;
    padding: 19px !important;
    margin-bottom: 10px !important;
    color: #28c76f !important;
}

p {
    font-size: 15px;
}

html .blank-page .content.app-content {
    margin-bottom: 150px;
}

.text-auto {
    color: #28c76f;
}

.card {
    padding: relative;
}

.promotion {
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: -10%;
    right: 0%;
    width: auto;
}

.fa-sync {
    cursor: pointer;
}

.card​ {
    border: 1px solid rgba(0, 0, 0, .125);
}

.text-overflow {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 365px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-dialog {
    top: 25% !important;
}

.btn-auto-line {
    background-color: #01b802 !important;
    color: white !important;
}

a.btn-auto-line:hover {
    background-color: #01b802 !important;
    color: whitesmoke !important;
}

.hr-white {
    border-color: whitesmoke !important;
}

.card-normal {
    min-height: auto !important;
}

.custom-control-label::after {
    top: 1px !important;
}

.form-currency {
    text-align: right !important;
}

.notification-container {
    min-width: 420px;
}

.bg-normal {

    background-color: #0a0a0a !important;
}

.dark-layout .list-group .list-group-item.list-group-item-action.active,
.dark-layout .list-group .list-group-item.list-group-item-action:active,
.dark-layout .list-group .list-group-item:not([class*=list-group-item-]).active,
.dark-layout .list-group .list-group-item:not([class*=list-group-item-]):active,
.dark-layout .list-group .list-group-item:not([class*=list-group-item-]).hover,
.dark-layout .list-group .list-group-item:not([class*=list-group-item-]):hover {
    background-color: unset !important;
}

.h1,
h1 {
    font-size: 2.5rem !important;
}

.bg-warning {
    background-color: #ffc801 !important;
}

.text-warning {
    color: #ffc107 !important;
}

.btn-auto>p {
    font-size: 54px;
    padding: 20px;
}

.spinner-border-sm {
    margin-right: 1.25rem !important;
    margin-bottom: 5px !important;
}

@import './_assets/app-assets/vendors/css/vendors.min.css';

@import './_assets/app-assets/css/bootstrap.min.css';
@import './_assets/app-assets/css/bootstrap-extended.min.css';
@import './_assets/app-assets/css/colors.min.css';
@import './_assets/app-assets/css/components.min.css';
@import './_assets/app-assets/css/themes/dark-layout.min.css';
@import './_assets/app-assets/css/themes/bordered-layout.min.css';
@import './_assets/app-assets/css/themes/semi-dark-layout.min.css';

@import './_assets/app-assets/css/core/menu/menu-types/vertical-menu.min.css';
@import './_assets/app-assets/css/plugins/forms/form-validation.css';
@import './_assets/app-assets/css/pages/page-auth.min.css';
@import './_assets/app-assets/vendors/css/extensions/toastr.min.css';
@import './_assets/app-assets/css/plugins/extensions/ext-component-toastr.css';

@import './_assets/libs/fontawesome6/css/all.css';

@import './_assets/css/custom.css';